.button {
    background: $blue;
    color: white;
    display: inline-block;
    border: none;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    text-decoration: none;
    line-height: 1;
}

.button--link {
    background: none;
}

.button--remove {
    background: #888;
}

.button--confirm {
    background: #f00;
    margin: 0 1rem 0 0;
    border-radius: 5px;
}

.button--cancel {
    background: #888;
    margin: 0 0 0 1rem;
    border-radius: 5px;
}